body{
    margin:auto;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.container{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myHead{
    width: 50px;
}
#twitter{
    width:50px;
    height: 50px
}
.form-elem{
    margin-top: 10;
    margin-bottom: 10;
}

#tt{
    resize: none;
    overflow: visible;
    padding-top:10px;
    padding-bottom: 10px;
    height: 100px;
}


button{
    visibility: hidden;
}