body{
    margin:auto;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    background: rgba(230,230,230,1)
}
.container{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myHead{
    width: 35px;
    height:auto;
    padding-left:8px;
    border-left: 1px solid #1DA1F2;
}
#Title{
    color: #1DA1F2
}
#headline{
    margin-bottom: 40px;
}
#twitter{
    color:#1DA1F2;
    padding-right:5px;
}
.form-elem{
    margin-top: 10;
    margin-bottom: 10;
}

#tt{
    resize: none;
    overflow: visible;
    padding-top:10px;
    padding-bottom: 10px;
    height: 100px;
}


button{
    visibility: hidden;
}